<% if user_signed_in? %>
<header>
	<%= render 'layouts/navigation' %>
</header>

<%= render 'layouts/side_navbar' %>

<center>
<h1>Product</h1>
<div class="row" style="margin-left: 10em;">
	<% @products.each do |product| %>
	<div class="col-md-4">
		<div class="card" style="width: 15rem;">
  			<div class="card-body">
    			<h5 class="card-title">Product</h5>
    			<br>
        		<p class="card-text">Name: <%= product.name %></p>
        		<p class="card-text">Price: <%= product.price %></p>
        		<% if product.quantity.to_i.zero? %>
        			<% unless current_user.wishlists.pluck(:product_id).include?(product.id) %>
    					<%= link_to 'Add to Wishlist', '/wishlists?product_id=' + product.id.to_s,method: :post, class: "btn btn-outline-success" %>
    				<% else%>
            			<p>Added to Wishlist</p>
          			<% end %>
        		<% else %>
        			<% unless current_user.carts.pluck(:product_id).include?(product.id) %>
    					<%= link_to 'Add to Cart', '/carts?product_id=' + product.id.to_s,method: :post, class: "btn btn-outline-success" %>
    				<% else%>
            			<p>Added to Cart</p>
          			<% end %>

    			<% end %>
  			</div>
		</div>
	</div>
	<% end %>
</div>
</center>	
<% else %>

<br>
	<li>
  		<%= link_to('Login', new_user_session_path) %>  
  	</li>
  	<li>
  		<%= link_to('SignUp', new_user_registration_path) %>  
  	</li>
<% end %>

