<header>
    <%= render 'layouts/navigation' %>
</header>

<div class="container">
  <center>
  <h1>Product Details</h1>

  <div class="card" style="width:25rem;">
    <div class="card-body">
      <p class="card-text">Product Name: <%= @product.name %></p>
      <p class="card-text">Product Price: <%= @product.price %></p>
      <% if @product.quantity.to_i.zero? %>
        <% unless @wishlist.wishlist_items.pluck(:product_id).include?(@product.id) %>
          <%= form_with url: product_wishlist_items_path(:product_id => @product.id), method: :post do |f| %>              
            <%= f.number_field :quantity,value:1, in: 1..10 %><br><br>
            <%= f.submit "Add to Wishlist" %>
          <% end %>
        <% else %>
          <p>Added to Wishlist</p>
        <% end %>
      <% else %>
        <% unless @cart.cart_items.pluck(:product_id).include?(@product.id) %>
          <%= form_with url: product_cart_items_path(:product_id => @product.id), method: :post do |f| %>              
            <%= f.number_field :quantity,value:1, in: 1..10 %><br><br>
            <%= f.submit "Add to Cart" %>
          <% end %>
        <% else %>
          <p>Added to Cart</p>
        <% end %>
      <% end %>
    </div>
  </div>
  </center>
</div>
