<header>
  <%= render 'layouts/navigation' %>
</header>

<center>
<table>
  <tr>
    <th>Rate id</th>
    <td><%= @shipment_rates["id"] %></td>
  </tr>
  <tr>  
    <th>Rate</th>
    <td><%= @shipment_rates["rate"] %></td>
  </tr>
  <tr>
    <th>Currency</th>
    <td><%= @shipment_rates["currency"] %> </td>
  </tr>
  <tr>
    <th>Carrier</th>
    <td><%= @shipment_rates["carrier"] %></td>
  </tr>
  <tr>
    <th>Service</th>
    <td><%= @shipment_rates["service"] %></td>
  </tr>
</table> 
<%= link_to "Checkout", new_checkout_path(:id => @shipment["id"]), class: "btn btn-outline-success" %>
<center>