<header>
  <%= render 'layouts/navigation' %>
</header>

<center>
<table>
  <tr>
    <th>Rate id</th>
    <th>Rate</th>
    <th>Currency</th>
    <th>Carrier</th>
    <th>Service</th>
  </tr>
  <% shipment_rates.each do |rate| %>
  <tr>
    <td><%= rate.id %></td>
    <td><%= rate.rate %></td>
    <td><%= rate.currency %> </td>
    <td><%= rate.carrier %></td>
    <td><%= rate.service %></td>
  </tr>
  <% end %>
</table> 
<%= link_to "Checkout", new_checkout_path, class: "btn btn-outline-success" %>
<center>