<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/homes">User Dashboard</a>
    <% if user_signed_in? %>
      <%= link_to 'Profile', user_profile_path(current_user), class: "btn btn-outline-success my-2 my-sm-0" %>
      
      <%= link_to 'Cart', cart_path(current_user), class: "btn btn-outline-success btn-space" %>

      <%= link_to 'Wishlist', wishlist_path(current_user), class: "btn btn-outline-success btn-space" %>

      <%= link_to 'My Order', orders_path, class: "btn btn-outline-success btn-space" %>

      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-success btn-logout my-2 my-sm-0" ) %>
      <% if current_user.profile_img.present? %>
        <%= image_tag current_user.profile_img, style: "width:60px;border-radius:50px;margin-left:20rem;" %> 
      <% end %>
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "btn btn-outline-success btn-logout my-2 my-sm-0") %> 
      <%= link_to('SignUp', new_user_registration_path, class: "btn btn-outline-success btn-logout my-2 my-sm-0") %>
    <% end %>
    
  </div>
</nav>